body{
    background-color: #0F172A;
    max-width: 100vw;
    max-height: 100vh;
    margin: 0;
    padding: 0;
}

.dashbx, .meterbx, .graphbx, .calendarbx{
    margin-bottom: 20px;
    position: relative;
}

.meterbx{
  height: fit-content;
}

.meterbx, .progbx, .rndbx{
    align-items: center;
    margin: 20px;
    box-sizing:content-box;
    justify-content: center;
}



.chart{
    
    height: 30vh;
    font-size: 9px;
    box-sizing: border-box;
}

.accounttbl .name{
  margin-bottom: 10px;
  padding: 10px;
  height: 40px;
  /* display: inline-block; */
  width: 48%;
  border-radius: 5px;
  outline: none; 
  box-sizing: border-box;
}

#First_Name {
  margin-right: 10px;
}
.name-priv{
  margin-bottom: 10px;
  width: 100%;
  height: 40px;
  border-radius: 5px;
  outline: none;
  padding: 10px;

}

input:focus{
    border: none;
    
}

.feedback-box::placeholder {
  font-style: italic;
  font-size: 15px;
}

input::placeholder{
  font-size: 15px;
}

/*NAVBAR CSS*/
.navbar {
    background-color: #0F172A;
    height: 80px;

  }
  
  .menu-bars {
    margin-left: 2rem;
    font-size: 2rem;
    background: none;
  }
  
  .nav-menu {
    background-color: #0F172A;
    width: 250px;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: -100%;
    transition: 850ms;

  }
  
  .nav-menu.active {
    left: 0;
    transition: 350ms;


  }
  
  .nav-text {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 8px 0px 8px 16px;
    list-style: none;
    height: 60px;
  }
  
  .nav-text a {
    text-decoration: none;
    color: #f5f5f5;
    font-size: 18px;
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 16px;
    border-radius: 4px;
  }
  
  .nav-text a:hover {
    background-color: #1a83ff;
  }
  
  .nav-menu-items {
    width: 100%;
  }
  
  .navbar-toggle {
    background-color: #0F172A;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: start;
    align-items: center;
  }
  
  span {
    margin-left: 16px;
  }

  table, th, td{
    border: 1px solid;
    padding: 5px;
    font-family: Urbanist;
  }


  /* LOGIN */
  .loginbx{
    margin-bottom: 15px;
    position: relative;
    height: 35px;
    border-radius: 5px;
    padding: 10px;
    border: none;
}

.loginbx:focus{
  border: none;
  outline: none;
}