body{
    background-color: #0F172A;
    max-width: 100vw;
    max-height: 100vh;
    margin: 0;
    padding: 0;
}

.dashbx, .meterbx, .graphbx, .calendarbx{
    margin-bottom: 20px;
    position: relative;
}

.meterbx, .progbx, .rndbx{
    align-items: center;
    margin: 20px;
    box-sizing:content-box;
    justify-content: center;
}



.chart{
    max-width: max-content;
    height: 30vh;
    font-size: 9px;
    box-sizing: border-box;
}
